#store {
  background-image: url("../img/bg-salepage.png");
  background-repeat: no-repeat;
  background-size: cover;

  .header-store {
    padding-top: 3em;
  }

  .box-course-store {
    margin-top: 4em;

    .title-course {
      color: var(--blues-name);
      font-family: $ibm_medium;
    }

    .box-course-sale {
      margin-top: 3em;

      .name-course {
        text-align: center;
        font-size: 18px;
        color: var(--blacks);
        margin-top: 2em;
      }
    }
  }

  .box-review-photo {
    margin-top: 4em;

    .box-title-section {
      text-align: center;

      .title-section {
        font-family: $ibm_medium;
        color: var(--blues-name);
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      }

      .sub-title {
        font-size: 16px;
      }
    }
  }

  .box-skill {
    margin-top: 3em;
    background-color: var(--whites);
    padding: 8em 0;
    -moz-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    -o-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);

    .box-title-section {
      text-align: center;

      .title-section {
        font-family: $ibm_medium;
        color: var(--blues-name);
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      }

      .sub-title {
        font-size: 16px;
      }
    }

    .box-skill-img {
      margin-top: 2em;
    }
  }

  .box-course-other {
    margin-top: 5em;

    .box-title-section {
      text-align: center;

      .title-section {
        font-family: $ibm_medium;
        color: var(--blues-name);
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      }

      .sub-title {
        font-size: 16px;
      }
    }

    .box-detail-course {
      margin-top: 2em;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        color: var(--blues-name);
        margin-bottom: 0;
        font-family: $ibm_medium;
      }

      span {
        font-size: 14px;
        color: var(--blacks);
      }
    }
  }

  .box-certificate {
    background-color: var(--whites);
    padding: 8em 0;
    -moz-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    -o-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);

    .box-title-section {
      text-align: center;

      .title-section {
        font-family: $ibm_medium;
        color: var(--blues-name);
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      }

      .sub-title {
        font-size: 16px;
      }
    }

    .box-img-certificate {
      margin-top: 3em;
    }

    .box-icon-certificate {
      @extend .box-img-certificate;
    }
  }

  .box-video {
    margin-top: 5em;

    .box-title-section {
      text-align: center;

      .title-section {
        font-family: $ibm_medium;
        color: var(--blues-name);
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      }

      .sub-title {
        font-size: 16px;
      }
    }

    .box-video-iframe {
      margin-top: 4em;
    }
  }

  .box-reviews-text {
    margin-top: 5em;

    .box-section-reviews {
      margin-bottom: 5em;

      .box-img-section {
        text-align: right;

        img {
          width: 50%;
        }
      }

      .box-title-section {
        .title-section {
          font-family: $ibm_medium;
          color: var(--blues-name);
          text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        }

        .sub-title {
          font-size: 16px;
        }
      }
    }

    .grid-user-reviews {
      margin-top: 1em;

      .box-reviews-text-user {
        background-color: var(--blues-name);
        padding: 15px;
        border-radius: 5px;
        @include box-shadow(-3px 0px 5px 0px #e0e0e0);
        @extend %transition-3;

        &:hover {
          @include box-shadow(-3px 0px 5px 0px #e0e0e0);
          @extend %transition-3;
        }

        .star {
          .fa-star {
            color: var(--star);
          }
        }

        .detail-reviews-text {
          color: var(--whites);
          line-height: 30px;
          font-size: 16px;
          margin-top: 0.5em;
        }

        .name-reviews {
          color: var(--whites);
        }
      }
    }
  }

  ///////////////////////////////

  .btn-register-section {
    margin: 3em;
  }

  .btn-finish {
    background-color: var(--reds);
    color: var(--whites);
    padding: 15px 15px;
    font-size: 18px;
  }
}
