#thankyou-page-cart {
  background-image: url("../img/bg-thankyou.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .bg-whites {
    background-color: var(--whites);
    @include box-shadow(4px 6px 5px 0px rgba(222, 222, 222, 1));
  }

  a {
    color: var(--blacks);

    &:hover {
      text-decoration: none;
    }
  }

  //

  .box-text-thank {
    margin-top: 5em;
    text-align: center;

    h1 {
      font-family: $ibm_semibold;
      color: var(--blues-name);
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    }

    .sub-thank {
      @extend h1;
      font-size: 16px;
    }
  }
}
